<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Interior Design HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.ico">
    <!-- CSS here -->
    <link rel="stylesheet" href="~/Content/css/style1.css">

</head>
<body>
    <section class="contact-section">
        <div class="container">
            <div class="Banner">
                <img src="~/Content/img/Banner-1.png" style="width:100%">
            </div>
            <div class="col-lg-8">
                <div class="banner">
                    <img src="~/Content/img/Banner-1.png" style="width:100%">
                    <h2>Ưu Đãi Rầm Rộ - Giao Hàng Tận Nơi!</h2>
                </div>
                <div class="content">
                    <p> Hàng ngàn miếng gà giòn tan chỉ 18K sẽ quét qua tất cả nhà hàng KFC từ Thứ 3 đến Thứ 5 hàng tuần. Siêu bất ngờ!</p>
                    <p class="Discount">
                        “Team mê Gà KFC” sẽ được ăn thỏa thích gà giòn cay siêu ngon, hay gà truyền thống với hương vị đặc trưng của KFC hoặc món gà giòn không cay thơm ngon của KFC với giá siêu ưu đãi.

                        Ngoài ra, team nhà mình có thể gọi thêm các món ăn kèm khác để bữa ăn càng thêm hấp dẫn nha!

                        Rủ rê ngay hội chị em bạn dì tụ họp tại KFC vào các ngày khuyến mãi trong tuần nha “team” ơi!!!

                        Chương trình áp dụng khi mua tối thiểu 2 miếng gà trở lên từ Thứ 3 đến Thứ 5 hàng tuần tại tất cả nhà hàng KFC trên toàn quốc.

                        Không áp dụng cho Giao hàng tận nơi, đơn hàng trên 2.000.000 đồng, thẻ giảm giá và các chương trình khuyến mãi khác.

                        Chương trình kéo dài đến hết ngày 25/6/2020.

                        #KFC #KFCVietnam #18k1miengga #GiaSieuKhung
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="banner">
                        <img src="~/Content/img/Banner-1.png" style="width:100%">
                        <h2>Ưu Đãi Rầm Rộ - Giao Hàng Tận Nơi!</h2>
                    </div>
                    <div class="content">
                        <p> Hàng ngàn miếng gà giòn tan chỉ 18K sẽ quét qua tất cả nhà hàng KFC từ Thứ 3 đến Thứ 5 hàng tuần. Siêu bất ngờ!</p>
                        <div class="Button">
                            <a class="btn btn-primary form-control" href="/Home/Index/combo-nhom-b" id="btnAddItem">Quay lại trang chủ</a>
                            <a id="btnAddItem" class="btn btn-success form-control" href="/them-gio-hang?FoodID=2&amp;quantity=1">
                                Thêm vào giỏ hàng
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    div class="banner">
                    <img src="~/Content/img/Banner-1.png" style="width:100%">
                    <h2>Ưu Đãi Rầm Rộ - Giao Hàng Tận Nơi!</h2>
                </div>
                <div class="content">
                    <p> Hàng ngàn miếng gà giòn tan chỉ 18K sẽ quét qua tất cả nhà hàng KFC từ Thứ 3 đến Thứ 5 hàng tuần. Siêu bất ngờ!</p>
                    <div class="Button">
                        <a class="btn btn-primary form-control" href="/Home/Index/combo-nhom-b" id="btnAddItem">Quay lại trang chủ</a>
                        <a id="btnAddItem" class="btn btn-success form-control" href="/them-gio-hang?FoodID=2&amp;quantity=1">
                            Thêm vào giỏ hàng
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
</html>
<style>
    .container {
        display: flex;
    }

    .body {
        /*display: flex;*/
        justify-content: center;
    }

    .Button .btn {
        /*justify-content: center;
        font-size: 3rem;*/
        margin-bottom: 15px;
    }

    .content .p {
        color: white;
        font-size: 16px;
    }

    .Discount .p {
        color: white;
        font-weight: 300;
    }
</style>
