
@model IEnumerable<Blogger.Models.menu>
<span class="menu"></span>

<ul id="navigation">

    @foreach (var i in Model)
    {
        if (i.meta == "dia-diem")
        {
            <li>
                <a href="#">@i.name</a>
                <ul class="submenu">
                    @{ Html.RenderAction("getasia", "Default");}
                </ul>
            </li>
        }

        else
        {
            <li> <a href="#">@i.name</a></li>
        }
    }
    </ul>

