@using Blogger.Help
@model Blogger.Models.EUR
@{
    ViewBag.Title = "Quản Lý Các Nước EU ";
    Layout = "~/Areas/admin/Views/Shared/_Mylayout.cshtml";
}
@section _Header
{
    <!-- DataTables CSS -->
    <link href="~/Areas/admin/Content/backen/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="~/Areas/admin/Content/backend/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-red">
            <div class="panel-heading">
                Quản Lý Các Nước EU
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="bs-example" style="text-align:right; padding-bottom:10px;">
                    <div class="btn-group">
                        @Html.DropDownListFor(model => model.id, (SelectList)ViewBag.EUR, " tất cả các nước ", new { @class = "form-control", @id = "EUR" })
                    </div>
                    <div class="btn-group">
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span> Thêm mới", "Create", "Create", "CountryEurus", routeValues: new { }, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </div>
                <div id="getcountryEU"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
@section _Footer
{
    <!-- DataTables JavaScript -->
    <script src="~/Areas/admin/Content/backend/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/admin/Content/backend/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/Areas/admin/Content/backend/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script>
        $(document).ready(function () {
            function getcountryEU() {
                var EuId= $('#EUR').val();
                $.ajax({
                    url: '@Url.Action("getcountryEU", "CountryEurus")',
                    type: "GET",
                    data: { id: EuId },
                    success: function (data) {
                        $("#getcountryEU").html(data);
                    },
                    error: function (data) {
                        alert("something went wrong.");
                    }
                });
            }
            getcountryEU();
            $("#EUR").change(function () {
                getcountryEU();
            })
        });
    </script>
}
